@{
  Layout = "_Layout";
}

@using Factory.Models

<h1>Dr. Sillystringz's Factory</h1>

<h2>Welcome, Doctor!</h2>

<p>I understand you're in need of an application to manage your engineers and machine repairs. Here you can manage the engineers that you employ, and the machines they are licensed to fix.</p>

<hr>

<h4>Engineers</h4>
@if (Model["engineers"].Length == 0)
{
  <p>No engineers have been added yet.</p>
}
<ul>
  @foreach (Engineer engineers in Model["engineers"])
  {
    <li>@Html.ActionLink(@engineers.Name, "Details", "Engineers", new { id = @engineers.EngineerId })</li>
  }
</ul>

<h4>Machines</h4>
@if (Model["machines"].Length == 0)
{
  <p>No machines have been added yet.</p>
}
<ul>
  @foreach (Machine machines in Model["machines"])
  {
    <li>@Html.ActionLink($"{@machines.Name}", "Details", "Machines", new { id = @machines.MachineId })</li>
  }
</ul>

<hr>

<p>@Html.ActionLink("Manage engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Manage machines", "Index", "Machines")</p>